<%= javascript_include_tag "toilets" %>

This is the index page.

<div>
  <main data-ui-view>

  </main>

</div>
  <!-- <p> -->
        <!-- {{toilet.street}}
        {{toilet.city}}
        {{toilet.state}}
        {{toilet.zip}}
        {{toilet.cleanliness}}
        {{toilet.handicapped}} -->
      <!-- </p> -->
