
    <header>
      <h1>Toilets</h1>
    </header>


    <div data-ng-repeat="toilet in vm.data">
      {{toilet.street}}
    </div>

<!-- SAMPLE code for a toilet create form
<input type="text" data-ng-model="vm.new_toilet.street" />
<label for="name">Street</label>

<button type="button" id="submit" data-ng-click="vm.create()">Submit</button> -->
