
    <header>
      <h1>Toilets</h1>
    </header>


    <div data-ng-repeat="toilet in vm.data">
      <p>
        {{toilet.street}}
        {{toilet.city}}
        {{toilet.state}}
        {{toilet.zip}}
        {{toilet.cleanliness}}
        {{toilet.handicapped}}
      </p>

    </div>
    
Show form when click add toilet button
Hide form when click submit button

SAMPLE code for a toilet create form
<input type="text" data-ng-model="vm.new_toilet.street" />
<label for="name">Street</label>

<input type="text" data-ng-model="vm.new_toilet.city" />
<label for="name">City</label>

<input type="text" data-ng-model="vm.new_toilet.state" />
<label for="name">State</label>

<input type="text" data-ng-model="vm.new_toilet.zip" />
<label for="name">Zip</label>

<input type="integer" data-ng-model="vm.new_toilet.cleanliness" />
<label for="name">Cleanliness</label>

<input type="checkbox" data-ng-model="vm.new_toilet.handicapped" />
<label for="name">Handicapped</label>

<button type="button" id="submit" data-ng-click="vm.create()">Submit</button>
