<h2>Update Your Toilet Here</h2>

<form>
  <input value="ToiletUpdateViewModel.toilet.businessname" data-ng-model="ToiletUpdateViewModel.toilet.businessname" />

  <input value="ToiletUpdateViewModel.toilet.street" data-ng-model="ToiletUpdateViewModel.toilet.street" />
  <input value="ToiletUpdateViewModel.toilet.city" data-ng-model="ToiletUpdateViewModel.toilet.city" />

  <input value="ToiletUpdateViewModel.toilet.city" data-ng-model="ToiletUpdateViewModel.toilet.city" />
  <input value="ToiletUpdateViewModel.toilet.state" data-ng-model="ToiletUpdateViewModel.toilet.state" />
  <input value="ToiletUpdateViewModel.toilet.zip" data-ng-model="ToiletUpdateViewModel.toilet.zip" />
<br>
<br>
  <input value="ToiletUpdateViewModel.toilet.cleanliness" data-ng-model="ToiletUpdateViewModel.toilet.cleanliness" />
<br>
<br>
  <input value="ToiletUpdateViewModel.toilet.handicapped" data-ng-model="ToiletUpdateViewModel.toilet.handicapped" />
  <input value="ToiletUpdateViewModel.toilet.lgbt_friendly" data-ng-model="ToiletUpdateViewModel.toilet.lgbt_friendly" />
  <input value="ToiletUpdateViewModel.toilet.unisex" data-ng-model="ToiletUpdateViewModel.toilet.unisex" />
  <input value="ToiletUpdateViewModel.toilet.changing_table" data-ng-model="ToiletUpdateViewModel.toilet.changing_table" />
<br>
<br>
<input value="ToiletUpdateViewModel.toilet.wait_time" data-ng-model="ToiletUpdateViewModel.toilet.wait_time" />


<br>
<br>
  <textarea value="ToiletUpdateViewModel.toilet.description" data-ng-model="ToiletUpdateViewModel.toilet.description"></textarea>

  <button data-ng-click="ToiletUpdateViewModel.update()">Update</button>
  <button data-ng-click="ToiletUpdateViewModel.destroy()">Delete</button>
</form>
