
About the developers

iHave To Go is proof of concept project created by students at General Assembly's Web Development Immersive program. The goal of this assignment was to produce a working application that made use of an internal API running on Ruby on Rails and an AngularJS front-end.

We also included the Google Maps API to better visualize the data we produced through our internal API.

If you have any questions or would like to contact the developers, please visit our github pages!

Jeff Eaton: https://github.com/jeffreyeaton76
Maureen Vogel: https://github.com/maureenv
Max Kaye: https://github.com/MaxKaye
Melissa Miller: https://github.com/holytoastr


Disclaimer:
iHave To Go and its developers are not responsible for the quality of reviews or of the toilets listed.
