* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     /*outline: 1px solid red;*/
     /* remove safari custom button styling */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     /* You don't really need these anymore. */
     /* remove safari custom border radius */
}
a {
  outline: 0;
  display: block; /* make entire link box clickable */

}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  border-radius: none;
}

/******* home page styling */

body {
  background-image: url("tiles.jpg");
  background-size: 450px;
}
.logo {
  margin: 0 auto;
  display: block;
}
.homecontainer{
  width: 100%;
  margin: 0 auto;
}
#map {
  border: black solid 5px;
  width: 1000px;
  height: 500px;
  margin-top: 10px;
}
.map_container {
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: auto;
}
.map_text {
  font-size: 40px;
}
input[type="text"].map_placeholder{
  margin-top: 5px;
  font-family: 'Kalam', cursive;
  font-size: 40px;
  width: 570px;
  background-color: rgba(0,0,0,0);
  border: none;
}
.infoWindowContent {
  font-size:  14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.toiletpapercontainer{
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

img.hometoilet {
  width: 300px;
  margin-left: 50px;
}

a.hometoilet {
display: block;
width: 350px;
margin: 0 auto;
 }

.arrow_container {
  width: 1100px;
  margin: 0 auto;
}
a.find_toilet {
  float: left;
  background-image: url('findtoilet.png');
  background-size: 400px;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: -450px;
}


a.find_toilet:hover {
  float: left;
  background-image: url('findtoiletglow.png');
  background-size: 400px;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: -450px;
}

 a.new_toilet {
   float: right;
   background-image: url('addtoilet.png');
   background-size: 400px;
   width: 400px;
   height: 300px;
   background-repeat: no-repeat;
   margin-top: -450px;
 }

 a.new_toilet:hover {
   float: right;
   background-image: url('addtoiletglow.png');
   background-size: 400px;
   width: 400px;
   height: 300px;
   background-repeat: no-repeat;
   margin-top: -450px;
 }


/************************************ Form page CSS */

/**** CSS For toilet paper */
img.paperroll {
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 550px;
  margin-bottom: -450px;
  -webkit-box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.44);
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.44);
}

.paper {
  padding-top: 15px;
  position: relative;
  width: 630px;
  height: 1330px;
  background-color: white;
  border-radius: 75px 75px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;
  border: 0px solid #000000;
  margin: 0 auto;
  margin-bottom: 50px;

  /* borders around paper */
  border-top: solid black 3px;
  border-right: solid black 3px;
  border-left: solid black 3px;
  border-bottom: dashed gray 3px;

  /* adds gradient background */


  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(11%, rgba(255,255,255,0.89)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ffffff', GradientType=1 );

  background-origin:border-box; /* fix dashed line problem*/

  background-image: url("papertexture.jpg");
  background-size: 25px;
  /* adds shadow around paper */
  -webkit-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  -moz-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
}

.gradient {
  margin-top: -15.3px;
  border-radius: 75px 75px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;

  background: rgba(102,102,102,1);
  background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,0.99) 1%, rgba(179,179,179,0.96) 4%, rgba(255,255,255,0.92) 8%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(1%, rgba(102,102,102,0.99)), color-stop(4%, rgba(179,179,179,0.96)), color-stop(8%, rgba(255,255,255,0.92)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,0.99) 1%, rgba(179,179,179,0.96) 4%, rgba(255,255,255,0.92) 8%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,0.99) 1%, rgba(179,179,179,0.96) 4%, rgba(255,255,255,0.92) 8%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,0.99) 1%, rgba(179,179,179,0.96) 4%, rgba(255,255,255,0.92) 8%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(102,102,102,0.99) 1%, rgba(179,179,179,0.96) 4%, rgba(255,255,255,0.92) 8%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#ffffff', GradientType=0 );

}

.form_container {
  padding: 20px;
}

/*** CSS For each individual toilet paper */
.sheet {
  position: relative;
  width: 630px;
  height:350px;
  background-image: url("papertexture.jpg");
  background-size: 25px;
  margin: 0 auto;
  z-index: 100;
  border-right: solid black 3px;
  border-left: solid black 3px;
  border-bottom: dashed gray 3px;
  -webkit-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  -moz-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);

}

/** Text on toilet paper and form fields */

/*font-family: 'Kalam', cursive;*/
h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: dashed gray 3px;
}

form {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 30px;
}

/* remove blue outline from active text-field in chrome */
textarea:focus, input:focus{
    outline: none;
}

input[type="text"]{
  margin-top: 5px;
  font-family: 'Kalam', cursive;
  font-size: 30px;
  width: 570px;
  background-color: rgba(0,0,0,0);
  border: none;
}

textarea {
  width: 570px;
  height: 100px;
  font-family: 'Kalam', cursive;
  font-size: 30px;
  padding-top: 5px;
  border: none;
  background-color: rgba(0,0,0,0);
  resize: none;
}

/* remove resizer button from text area */
::-webkit-resizer{
  display: none;
}

/* Change color of placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C1C1C1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #C1C1C1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #C1C1C1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C1C1C1;
}

.cleanliness {
  padding-top: 25px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  opacity: 0.2;
}

label > input:hover + img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 0.6;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
}

.radioimage {
  height: 280px;
}

/* checkbox styling */

.checkbox_container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.checklabel {
  font-family: 'Kalam', cursive;
  font-size: 30px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span{
    display:inline-block;
    width:290px;
    padding-left: 50px;
    /*padding-top: 7px; fixes spacing in firefox */
    height: 50px;
    vertical-align: middle;
    background:url(checkbox.png) left top no-repeat;
    background-size: 35px;
    cursor: pointer;
}


input[type="checkbox"]:checked + label span{
  background:url(check.png) left top no-repeat;
  background-size: 35px;

}

/* dropdown styling */

.dropdown {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  border: none;
  width: 180px;
  border: solid black 3px;
  padding-top: 5px;
  padding-left: 5px;
  outline: 0;
  background-color: transparent;
  radius: 0px;
}

/**** Remove dotted outline from dropdown menu */
select:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #000; /* your normal text color here */
}
select:-moz-focusring * {
  color:#000; /* your normal text color here */
  text-shadow:none;
}


/* description styling */
.description {
  margin-top: 20px;
  margin-bottom: 15px;
}

.submit {
  margin-top: 30px;
  background-color: #a1a1a1;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: black;
  padding: 8px;
}

.submit:hover{
  background-color:gray;
}

.back {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 40px;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}

.back:hover {
  color: red;
}

/**************************** SHOW PAGE *************************/
h3 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 30px;
}

p {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: #484848;
  padding-top: 10px;

}

.showpaper {
  padding-top: 15px;
  position: relative;
  width: 630px;
  background-color: white;
  border-radius: 75px 75px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;
  border: 0px solid #000000;
  margin: 0 auto;

  /* borders around paper */
  border-top: solid black 3px;
  border-right: solid black 3px;
  border-left: solid black 3px;
  border-bottom: dashed gray 3px;

  /* adds gradient background */


  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(11%, rgba(255,255,255,0.89)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(179,179,179,1) 0%, rgba(255,255,255,0.89) 11%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ffffff', GradientType=1 );

  background-origin:border-box; /* fix dashed line problem*/

  background-image: url('papertexture.jpg');
  background-size: 25px;
  /* adds shadow around paper */
  -webkit-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  -moz-box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
  box-shadow: -12px 9px 8px 4px rgba(0,0,0,0.36);
}

.content_container {
  padding-left: 30px;
  padding-right: 15px;
}

.checkmark {
  background: url('checkmark.png') left top no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 500px;
  height: 50px;
  background-size: 30px;
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: #484848;
  padding-left: 40px;
}

.chosentoilet {
  padding-left: 50px;
  width: 230px;
}

/***** Comment styling ******/

.comment {
  padding-top: 15px;
}

button {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}


.back_map {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 20px;
  /*margin-top: 20px;*/
  color: black;
  text-decoration: none;
}

.back_map:hover {
  color: red;
}
