<!DOCTYPE html>
<html>
<head>
<title>Ihavetogo</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'application' %>
</head>
<body>
<h1> I hav to goooo</h1>
<div ng-app="ihavetogo">
  <%= yield %>
  <main data-ui-view></main>
</div>

</div>

</body>
</html>
